.version-list {
  .divider {
    width: calc(100% - 4rem);
    max-width: 880px;
    height: 1px;
    margin: auto;
    background: var(--page-horizontal-line);
  }
}

.version-item {
  display: flex;
  place-content: center;
  height: 68px;
  border: 1px solid transparent;
  transition: background 200ms;

  &:hover {
    background: rgba(255, 255, 255, 0.1); 
  
    .version-tools {
      display: flex;
    }
  }

  &:active {
    background: rgba(255, 255, 255, 0.05);
  }

  &:focus-within {
    background: rgba(255, 255, 255, 0.1);
    border-color: white;
  
    .version-tools {
      display: flex;
    }
  }
}

.version-tools {
  position: absolute;
  display: none;
  flex-direction: row;
  gap: 0 0.4rem;
  right: 0;
}

.version-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;

  p {
    font-family: 'Noto Sans Bold';
    padding-bottom: 4px;
    font-size: 0.95rem;
  }

  span {
    font-size: 0.79rem;
    color:rgb(180, 180, 180);
  }
}

.version-btn {
  position: relative;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
  max-width: 880px;
  height: 100%;
  outline: none;
  display: flex;
  flex-direction: row;
  place-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}