:root {
  --mainmenu-background: #262626;
  --mainmenu-tab-foreground: #FFFFFF;
  --mainmenu-tab-background-hover: #3d3d3d;
  --mainmenu-tab-background-active: #383838;
  --mainmenu-tab-active-marker: #FFFFFF;
  --mainmenu-tab-focus: #FFFFFF; 
  --submenu-background: #262626;
  --submenu-header-foreground: #FFFFFF;
  --submenu-tab-foreground: #e3e3e3;
  --submenu-tab-foreground-hover: #ffffff;
  --submenu-tab-foreground-active: #FFFFFF;
  --submenu-tab-active-marker: #008542;
  --page-background: #333;
  --page-foreground: #FFFFFF;
  --page-horizontal-line: #494949;
  --patchnotecard-background: #0F0F0F;
  --patchnotecard-background-hover: #262626;
  --patchnotecard-background-active: #131313;
  --patchnotecard-title: #FFFFFF;
  --patchnote-h1-foreground: #FFFFFF;
  --patchnote-h2-foreground: #FFFFFF;
  --patchnote-h3-foreground: #FFFFFF;
  --patchnote-h4-foreground: #FFFFFF;
  --patchnote-h5-foreground: #FFFFFF;
  --patchnote-p-foreground: #FFFFFF;
  --patchnote-li-foreground: #FFFFFF;
  --patchnote-a-foreground: #FFFFFF;
  --loadingspinner-background: #FFFFFF;
  --play-banner-shadow: #000000;
  --playbutton-foreground: #FFFFFF;
  --playbutton-foreground-disabled: #AAA;
  --playbutton-border: black;
  --playbutton-border-active: white;
  --playbutton-top: #27CE40;
  --playbutton-top-active: #064D2A;
  --playbutton-top-disabled: #1B902D;
  --playbutton-side: #0C6E3D;
  --playbutton-bottom: #064D2A;
  --playbutton-bottom-active: #0AA618;
  --playbutton-bottom-disabled: #04361D;
  --playbutton-gradient-top: #009147;
  --playbutton-gradient-top-hover: #0A8F4C;
  --playbutton-gradient-top-active: #008542;
  --playbutton-gradient-top-focus: #0A9B51;
  --playbutton-gradient-top-disabled: #006532;
  --playbutton-gradient-bottom: #008542;
  --playbutton-gradient-bottom-hover: #0A9B51;
  --playbutton-gradient-bottom-active: #009147;
  --playbutton-gradient-bottom-focus: #0A8F4C;
  --playbutton-gradient-bottom-disabled: #005D2E;
  --checkbox-background-on: #008542;
  --checkbox-background-hover-on: #0DD166;
  --modal-background: #303030;
  --modal-title-foreground: #FFFFFF;
  --modal-horizontal-line: #373737;
  --scrollbar-background: #262626;
  --scrollbar-thumb-background: #515151;
  --scrollbar-thumb-background-hover: #5C5C5C;
  --scrollbar-thumb-background-active: #686868;
  --scrollbar-thumb-background-inactive: #3C3C3C;
  --textbox-background: #131313;
  --textbox-background-hover: #0e0e0e;
  --texthighlight: #008542;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--mainmenu-background);
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Minecraft';
  src: url('./assets/fonts/Minecraft.ttf');
}

@font-face {
  font-family: 'MinecraftTen';
  src: url('./assets/fonts/MinecraftTen.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Noto Sans';
  src:
    local("Noto Sans"),
    local("NotoSans"),
    url('./assets/fonts/NotoSans-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
  
@font-face {
  font-family:'Noto Sans Bold';
  src:
    local("Noto Sans Bold"),
    local("NotoSans-Bold"),
    url('./assets/fonts/NotoSans-Bold.ttf') format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family:'Noto Sans Italic';
  src: 
    local("Noto Sans Italic"),
    local("NotoSans-Italic"),
    url('./assets/fonts/NotoSans-Italic.ttf') format("truetype");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family:'Noto Sans Bold Italic';
  src: 
    local("Noto Sans Bold Italic"),
    local("NotoSans-BoldItalic"),
    url('./assets/fonts/NotoSans-BoldItalic.ttf') format("truetype");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--mainmenu-background);
  -moz-user-select: none;
  -webkit-user-select: none;	
  user-select: none;
  color: white;
}

*::selection {
  background: var(--texthighlight);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--mainmenu-background);
}

// Base
.line-h {
  width: 100%;
  background: #444;
  height: 1px;
}

// #region Installations
.filter-container {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 0 1.2rem;
  padding: 0.65rem 0;

  .input-gap {
    width: 1px;
    background: #555;
    height: 26px;
    margin-top: 15px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;

  gap: 4px 0;

  p {
    text-transform: uppercase;
    font-family: 'Noto Sans Bold';
    font-size: 11px;
    margin-left: 2px;
  }
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0 0.9rem;
  place-items: center;
  padding-top: 5px;
  padding-bottom: 7px;
}
// #endregion

.app {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
  overflow: hidden;
}

.routes {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar { 
  width: 8px;
  background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-background-hover);
}

::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-background-active);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--scrollbar-thumb-background-inactive);
}

.base-route {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  background: var(--page-background);
  overflow: hidden;
  color: var(--page-foreground);
  
  &.anim {
    transform: translate(0, 10%);
    animation: routeAnim 400ms linear forwards;
  }
}

@keyframes routeAnim {
  0% {
    transform: translate(0, 10%);
  }
  50% {
    transform: translate(0, 0%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

.sub-page {
  top: 83px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;

  &.anim {
    opacity: 0;
    transform: translate(10%);
    animation: subpageRightAnim 600ms ease-in forwards;
  }

  a {
    font-family: 'Noto Sans Bold';
    font-size: 0.9rem;
    color: var(--patchnote-a-foreground);
    text-decoration-color: var(--patchnote-a-foreground);
    padding: 0.1rem 0.4rem 0.2rem;
    border-radius: 4px;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    place-items: center;
  
    outline: none;
  
    &:hover,
    &:focus {
      background: hsl(0, 0%, 35%);
    }
  
    &:after {
      position: relative;
      top: -8px;
      left: 2px;
      display: inline-block;
      content: url(./assets/images/hyperlink.png);
      width: 14px;
      height: 0px;
      padding: 0 0.1rem;
      image-rendering: pixelated;
    }
  }
}

@keyframes subpageLeftAnim {
  0% {
    opacity: 0;
    transform: translate(-10%);
  }
  50% {
    opacity: 1;
    transform: translate(0%);
  }
  100% {
    opacity: 1;
    transform: translate(0%);
  }
}

@keyframes subpageRightAnim {
  0% {
    opacity: 0;
    transform: translate(25%);
  }
  50% {
    opacity: 1;
    transform: translate(0%);
  }
  100% {
    opacity: 1;
    transform: translate(0%);
  }
}

// Dialog Modal
.Overlay {
  position: fixed;
  display: block;
  z-index: 10;
  opacity: 1;
  transition: 0;
  visibility: visible;
}

.dialog-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  outline: none;
  background: var(--modal-background);
  display: flex;
  flex-direction: column;
  opacity: 1;
  
  &.anim {
    opacity: 0;
    transform: translate(0, -10%);
    animation: modalAnim 400ms forwards;
  }

  header {
    display: flex;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 61px;
    min-height: 61px;
    max-height: 61px;
    position: relative;
    border-bottom: 1px solid var(--modal-horizontal-line);
  
    h2 {
      font-family: 'Noto Sans Bold';
      color: var(--modal-title-foreground);
      font-size: 1.1rem;
      font-weight: 100;
    }
  
    .close-btn {
      cursor: pointer;
      position: absolute;
      width: 36px;
      height: 36px;
      right: 10px;
      border-radius: 50%;
      background: none;
      border: none;
  
      &:hover,
      &:focus {
        outline: none;
        background: #ffffff39;
      }

      &:active {
        background: #ffffff29;
      }
    }
  
    .close-icon {
      width: 36px;
      padding: 10px;
    }
  }

  main {
    overflow-y: auto;
    padding: 0 0 2rem 0;
    height: 100%;
     
    .container {
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      width: 400px;
      margin: auto;
    }
  }
  
  footer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 1rem;
    gap: 0 0.7rem;
    width: 100%;
    height: 72px;
    min-height: 72px;
    max-height: 72px;
    position: relative;
    border-top: 1px solid var(--modal-horizontal-line);
  }
}

@keyframes modalAnim {
  from {
    opacity: 0;
    transform: translate(0, -10%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0%);
  }
}

// Notifs
.notification {
  background: #D93636;
  border-radius: 4px;
  max-width: 320px;
  height: max-content;
  color: color;
  display: flex;
  padding: 0.3rem 0;
  flex-direction: row;
  box-shadow: 0 2px 4px #00000066;

  .notif-icon {
    width: 40px;
  }

  .notif-content {
    display: flex;
    flex-direction: column;
    padding: 0.1rem 0.5rem;
    gap: 0.2rem 0;
  }

  .notif-buttons {
    display: flex;
    gap: 0 1rem;

    button {
      cursor: pointer;
      background: none;
      border: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}